.ts{
	padding-left:30px ;
	max-width: 1200px;
	margin: auto;
	font-size: 35px;

}

.row{
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
}

.col{
	position: relative;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	width: 360px;
  	margin: 20px 20px 50px;

}

.pic{

	width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2c3492;
}

.col:hover .overlay {
  opacity: 0.7;
}

.icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
